<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>추가하기</h3>
    <hr />
    <form action="/insert" method="post">
    이메일 : <input type="text" name="email" /><br />
    이름 : <input type="text" name="name" /><br />
    나이 : <input type="text" name="age" /><br />
    연락처 : <input type="text" name="phone" /><br />
    <input type="submit" value="등록하기" />
    </form>
  </body>
</html>